[submodule "libs/glfw"]
	path = libs/glfw
	url = git@github.com:glfw/glfw.git
	branch = 3.3-stable
[submodule "libs/glew"]
	path = libs/glew
	url = git@github.com:furkantokac/glew.git
	branch = v2.1.0
[submodule "libs/freeglut"]
	path = libs/freeglut
	url = git@github.com:furkantokac/freeglut.git
	branch = 3.2.1
